@media only screen and (max-width: 918px){
  /* Initial CSS **************************************************/
  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  /* Layout設定 **************************************************/

  .container{
    width: 90%;
    margin:0 auto;
  }

  /* 響應式調整 ***************************************************/
  #menu_btn{
    display: block;
  }

  /* 原nav隱藏 ****************************************************/
  nav{
    display: none;
    position: relative;
  }

  /* 新nav開啟(用div做) *********************************************/
  #menu_btn img{
    cursor: pointer;
  }
  
  #menu_btn ul.main_list_rwd{
    list-style: none;
    position: absolute;
    background: url("../images/mobile/bg-mobile.png");
    top: 75px;
    width: 100%;
    display: none;
  }

  #menu_btn ul.open_menu{
    display: block;
  }

  #menu_btn ul.main_list_rwd li{
    position: relative;
    border: 1px solid #99fa99;
  }

  #menu_btn ul.main_list_rwd a.current{
    background: rgba(153, 250, 153, 0.8);
  }

  #menu_btn ul.main_list_rwd li a:hover{
    background: rgba(153, 250, 153, 0.8);
  }

  #menu_btn ul.main_list_rwd li a{
    color: #ffffff;
    display: block;
    font-family: "Arial"," Helvetica","sans-serif";
    font-size: 18px;
    padding-top: 13px;
    padding-bottom: 14px;
    padding-left: 15px;
    text-decoration: none;
    text-align: left;
    text-transform: uppercase;
    width: 100%;
  }

  #menu_btn ul.main_list_rwd li img{
    border-left: 1px solid #99fa99;
    position: absolute;
    top: 0;
  }

  #menu_btn ul.main_list_rwd li img:hover{
    background: rgba(153, 250, 153, 0.8);
  }

  #menu_btn ul.main_list_rwd li ul.sub_list_rwd li{
    border: none;
    border-top: 1px solid #99fa99;
  }

  #menu_btn ul.main_list_rwd li ul.sub_list_rwd li a{
    padding-left: 30px;
  }


  #menu_btn ul.main_list_rwd li ul.sub_list_rwd{
    display: none;
    list-style: none;
  }


  
  #menu_btn ul.main_list_rwd li ul.open_list{
    display: block;
  }

  /* main內容設定 **************************************************/
  main{
    padding: 0;
  }

  /* index.html頁面控制 */
  main .slogan{
    float: none;
    width: 100%;
    max-width: 510px;
    margin: 0px auto;
    padding-top: 50px;
  }

  main .slogan h1{
    padding-bottom: 45px;
  }

  main .slogan p{
    font-size: 5em;
  }

  main .sign{
    max-width: 100%;
    width: 70%;
    margin: 45px 110px 46px 0;
  }

  /* about.html頁面控制 */
  main .introdoction{
    max-width: none;
    float: none;
    margin-left: 25px;
    padding-top: 50px;
  }

  main .introdoction h1{
    padding-bottom: 20px;
  }

  /* classes.html頁面控制 */
  main .classes{
    max-width: none;
    float: none;
    margin-left: 25px;
    margin-right: 25px;
    padding-top: 40px;
  }

  main .classes h1{
    padding-bottom: 20px;
  }

  main .level{
    margin-bottom: 25px;
  }

  /* instructors.html頁面控制 */
  main .teacher{
    max-width: 100%;
    float: none;
    margin-left: 5%;
    margin-right: 25px;
    padding-top: 40px;
  }

  main .member{
    float: none;
    display: inline-block;
    max-width: 40%;
    margin-right: 15%;
    margin-bottom: 55px;
  }

  main .member2{
    max-width: 40%;
    margin-right: 5%;
  }

  main img{
    width: 100%;
  }


   /* contact.html頁面控制 */
   main .contact{
    max-width: none;
    float: none;
    margin-left: 25px;
    padding-top: 50px;
  }

  main .contact h1{
    padding-bottom: 25px;
  }

  main .type-in{
    width: auto;
    margin: 0 auto;
  }

  main .type-in h2{
    margin-bottom: 18px;
  }
  
  main .type-in p{
    padding-bottom: 10px;
  }
  
  main input{
   width: 93%;
   padding-right: 3%;
  }
  
  main textarea{
    background: #d1d3d4;
    width: 93%;
    padding-right: 3%;
    resize: none;
    border: 1px solid #b6d8cf;
  }
  
  main button{
    margin-right: 7%;
    margin-top: 5px;
    cursor: pointer;
  }
  
  /* footer內容設定 *************************************************/
  footer{
    position: unset;
  }
  
  footer address{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 25px;
  }
  
  footer p{
    font-size: 1.2em;
    line-height: 1.1em;
    color: #B6D8CF;
    text-align: center;
    margin-bottom: 40px;
  }
  
  footer .info{
    position: unset;
    margin: 0 auto;
  }
  
  footer .connect{
    position: unset;
    width: 100%;
    margin: 0 auto;
  }

  footer .connect #facebook{
    float: left;
    margin-left: 31%;
    margin-bottom: 20px;
  }

  footer .connect #twitter{
    float: left;
    margin-left: 5%;
    margin-bottom: 20px;
  }

  footer .connect #googleplus{
    float: left;
    margin-left: 5%;
    margin-bottom: 20px;
  }

  footer .connect #pinterest{
    float: left;
    margin-left: 5%;
    margin-bottom: 20px;
  }
}
