@media only screen and (max-width: 918px){
  /* Initial CSS **************************************************/
  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  /* Layout設定 **************************************************/

  .container{
    margin:0 auto;
    width: 90%;
  }

  /* 響應式調整 ***************************************************/
  #menu_btn{
    display: block;
  }

  /* 原nav隱藏 ****************************************************/
  nav{
    display: none;
    position: relative;
  }

  /* 新nav開啟(用div做) *********************************************/
  #menu_btn img{
    cursor: pointer;
  }
  
  #menu_btn ul.main_list_rwd{
    background: url("../images/mobile/bg-mobile.png");
    display: none;
    list-style: none;
    position: absolute;
    top: 75px;
    width: 100%;
  }

  #menu_btn ul.open_menu{
    display: block;
  }

  #menu_btn li{
    border: 1px solid #99fa99;
    position: relative;
  }

  #menu_btn a{
    color: #ffffff;
    display: block;
    font-family: "Arial"," Helvetica","sans-serif";
    font-size: 18px;
    padding-bottom: 14px;
    padding-left: 15px;
    padding-top: 13px;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
  }

  #menu_btn a:hover{
    background: rgba(153, 250, 153, 0.8);
  }

  #menu_btn a.current{
    background: rgba(153, 250, 153, 0.8);
  }

  #menu_btn ul.main_list_rwd img{
    border-left: 1px solid #99fa99;
    position: absolute;
    top: 0;
  }

  #menu_btn ul.main_list_rwd img:hover{
    background: rgba(153, 250, 153, 0.8);
  }

  #menu_btn ul.sub_list_rwd li{
    border: none;
    border-top: 1px solid #99fa99;
  }

  #menu_btn ul.sub_list_rwd a{
    padding-left: 30px;
  }

  #menu_btn ul.sub_list_rwd{
    display: none;
    list-style: none;
  }

  #menu_btn ul.open_list{
    display: block;
  }

  /* main內容設定 **************************************************/
  main{
    padding: 0;
  }

  /* index.html設定 */
  main .slogan{
    float: none;
    margin: 0px auto;
    max-width: 510px;
    padding-top: 50px;
    width: 100%;
  }

  main .slogan h1{
    padding-bottom: 45px;
  }

  main .slogan p{
    font-size: 5em;
  }

  main .sign{
    margin: 45px 110px 46px 0;
    max-width: 100%;
    width: 70%;
  }

  /* about.html設定 */
  main .introdoction{
    float: none;
    margin-left: 25px;
    max-width: none;
    padding-top: 50px;
  }

  main .introdoction h1{
    padding-bottom: 20px;
  }

  /* classes.html設定 */
  main .classes{
    float: none;
    margin-left: 25px;
    margin-right: 25px;
    max-width: none;
    padding-top: 40px;
  }

  main .classes h1{
    padding-bottom: 20px;
  }

  main .level{
    margin-bottom: 25px;
  }

  /* instructors.html設定 */
  main .teacher{
    float: none;
    margin-left: 5%;
    margin-right: 25px;
    max-width: 100%;
    padding-top: 40px;
  }

  main .member{
    display: inline-block;
    float: none;
    margin-bottom: 55px;
    margin-right: 15%;
    max-width: 40%;
  }

  main img{
    width: 100%;
  }

   /* contact.html設定 */
   main .contact{
    float: none;
    margin-left: 25px;
    max-width: none;
    padding-top: 50px;
  }

  main .contact h1{
    padding-bottom: 25px;
  }

  main .type-in{
    margin: 0 auto;
    width: auto;
  }

  main .type-in h2{
    margin-bottom: 18px;
  }
  
  main .type-in p{
    padding-bottom: 10px;
  }
  
  main input{
    padding-right: 3%;
    width: 93%;
  }
  
  main textarea{
    background: #d1d3d4;
    border: 1px solid #b6d8cf;
    padding-right: 3%;
    resize: none;
    width: 93%;
  }
  
  main button{
    cursor: pointer;
    margin-right: 7%;
    margin-top: 5px;
  }

  /* blog.html設定 */
  main .blog{
    float: none;
    margin-left: 25px;
    max-width: none;
    padding-top: 50px;
  }

  main .article{
    margin-bottom: 90px;
    padding-right: 20px;
  }

  main .article img{
    float: none;
    margin-bottom: 20px;
    width: 100%;
  }


  /* footer內容設定 *************************************************/
  footer{
    position: unset;
  }

  footer .info{
    margin: 0 auto;
    position: unset;
  }
  
  footer .info address{
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
  }
  
  footer .info p{
    font-size: 1.2em;
    line-height: 1.1em;
    margin-bottom: 40px;
    text-align: center;
  }
  
  footer .connect{
    margin: 0 auto;
    position: unset;
    width: 220px;
  }
}
