/* Initial CSS **************************************************/
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: #077054;
  font-size: 14px;
}

/* 測試用標籤，用完請記得移除 *************************************/
.tst{
  border: 1px solid black;
}

/* Layout設定 **************************************************/

/* 置中排版模板 */
.container{
  margin: 0 auto;
  width: 960px;
}

/* 特殊字形載入 */
@font-face {
  font-family: 'latoregular';
  font-weight: normal;
  src: url('../fonts/lato-regular-webfont.eot'),
    url('../fonts/lato-regular-webfont.svg'),
    url('../fonts/lato-regular-webfont.ttf'),
    url('../fonts/lato-regular-webfont.woff');
}

@font-face {
  font-family: 'nixie_oneregular';
  font-weight: normal;
  src: url('../fonts/nixieone-regular-webfont.eot'),
    url('../fonts/nixieone-regular-webfont.svg'),
    url('../fonts/nixieone-regular-webfont.ttf'),
    url('../fonts/nixieone-regular-webfont.woff');
  
}

/* 響應式調整 ***************************************************/
#menu_btn{
  display: none;
  height: 35px;
  position: relative;
}

#menu_btn img{
  right: 0;
  top: 18px;
  position: absolute;
}

/* header內容設定 ***********************************************/
header{
  height: 135px;
}

header .title{
  margin-top: 30px;
}

header .title a{
  text-decoration: none;
}

header .title h1{
  color: #99FA99;
  font-family: 'latoregular','san-serif';
  font-size: 50px;
  font-weight: 100;
  text-align: center;
}

header .title span{
  color: #B6D8CF;
  display: block;
  font-family: 'nixie_oneregular','serif';
  font-size: 26px;
  margin-top: 6px;
  text-align: center;
  text-transform: uppercase;
}

/* nav內容設定 ***************************************************/

nav{
  height: 30px;
  position: relative;
}

nav  li{
  display: inline-block;
  margin-top: 3px;
  padding-left: 45px;
  padding-right: 45px;
}

nav li:first-child{
  margin-left: 80px;
}

nav a{
  color: #B6D8CF;
  font-family: 'latoregular','san-serif';
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover{
  color: #d3a3ff;
}

nav .current{
  color: #99FA99;
}

nav .current:hover{
  color: #99FA99;
}


nav .main_list ul{
  display: none;
  list-style: none;
}

nav .sub_list li{
  background-color: #077054;
  left: 310px;
  padding: 14px 21px;
  position: absolute;
}

/* 游標經過開啟子選單的方法，筆記之後可用 */
nav .list:hover ul{
  display: block;
  height: 50px;
}

/* main內容設定 **************************************************/
main{
  min-height: 827px;
  overflow: hidden;
  background-color: #ffffff;
  padding: 45px 45px 45px 45px;
}

/* index.html設定控制 */
main .slogan{
  float: left;
  max-width: 510px;
  margin-left: 25px;
  margin-top: 110px;
}

main .slogan h1{
  font-family: 'nixie_oneregular','serif';
  font-size: 100px;
  color: #21A51E;
  text-align: center;
  font-weight: 100;
  text-transform: uppercase;
  background: url('../images/bg-separator.png') no-repeat center bottom;
  padding-bottom: 55px;
}

main .slogan p{
  font-family: 'nixie_oneregular','serif';
  font-size: 100px;
  color: #21A51E;
  text-align: center;
  padding-top: 43px;
}

main .sign{
  float: right;
  max-width: 100%;
  width: auto;
  margin: 74px 38px 46px 0;
}

/* about.html設定控制 */
main .introdoction{
  float: left;
  max-width: 510px;
}

main .introdoction h1{
  font-family: 'nixie_oneregular','serif';
  color: #21A51E;
  font-weight: 100;
  font-size: 35px;
  padding-bottom: 44px;
}

main .introdoction h2{
  font-family: 'nixie_oneregular','serif';
  color: #315f52;
  font-weight: 100;
  font-size: 23px;
  line-height: 30px;
}

main .introdoction p{
  font-family: 'latoregular','san-serif';
  line-height: 30px;
  color: #315f52;
  margin-bottom: 20px;
  font-size: 14px;
}

main .introdoction p a{
  color: #315f52;
}

main .introdoction p a:hover{
  color: #310957;
}

/* classes.html設定控制 */
main .classes{
  float: left;
  max-width: 510px;
}

main .classes h1{
  font-family: 'nixie_oneregular','serif';
  color: #21A51E;
  font-weight: 100;
  font-size: 35px;
  padding-bottom: 44px;
}

main .classes h2{
  font-family: 'nixie_oneregular','serif';
  color: #315f52;
  font-weight: 100;
  font-size: 23px;
  line-height: 30px;
}

main .classes p{
  font-family: 'latoregular','san-serif';
  line-height: 30px;
  color: #315f52;
  margin-bottom: 5px;
  font-size: 14px;
}

main .level{
  margin-bottom: 42px;
}

/* instructors.html設定控制 */
main .teacher{
  float: left;
}

main .teacher h1{
  font-family: 'nixie_oneregular','serif';
  color: #21A51E;
  font-weight: 100;
  font-size: 35px;
  padding-bottom: 35px;
}

main .teacher p{
  font-family: 'nixie_oneregular','serif';
  text-align: center;
  color: #315f52;
  font-size: 18px;
  padding-top: 5px;
}

main .member{
  float: left;
  margin-right: 80px;
  margin-bottom: 55px;
}

main .member:last-child{
  margin-right: 0px;
}

main .member{
  float: left;
  margin-right: 80px;
  margin-bottom: 55px;
}

main .member:last-child{
  margin-right: 0px;
}

/* contact.html設定控制 */
main .contact h1{
  font-family: 'nixie_oneregular','serif';
  color: #21A51E;
  font-weight: 100;
  font-size: 35px;
  padding-bottom: 75px;
}

main .type-in{
  width: 460px;
  margin: 25px auto 0;
}

main .type-in h2{
  font-family: 'nixie_oneregular','serif';
  color: #315f52;
  font-size: 23px;
  font-weight: 100;
  margin-bottom: 18px;
}

main .type-in p{
  font-family: 'latoregular','san-serif';
  font-weight: 100;
  padding-bottom: 10px;
}

main input{
  margin-bottom: 25px;
  padding-right: 270px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #d1d3d4;
  border: 1px solid #b6d8cf;
}

main textarea{
  background: #d1d3d4;
  resize: none;
  border: 1px solid #b6d8cf;
}

main button{
  float: right;
  width: 50px;
  height: 30px;
  background: #077054;
  color: #99fa99;
  border: none;
  border-radius: 5px;
  margin-right: 15px;
  margin-top: 5px;
  cursor: pointer;
}

/* blog.html設定控制 */
main .blog h1{
  font-family: 'nixie_oneregular','serif';
  color: #21A51E;
  font-weight: 100;
  font-size: 35px;
  padding-bottom: 30px;
}

main .article{
  padding-right: 100px;
  margin-bottom: 90px;
}

main .text h2{
  margin-bottom: 10px;
  font-size: 23px;
}

main .text h2 a{
  font-family: 'nixie_oneregular','serif';
  text-decoration: none;
  color: #315f52;
  font-weight: 100;
}

main .text h3{
  font-family: 'latoregular','san-serif';
  font-weight: 100;
  font-size: 14px;
  color: #315f52;
  margin-bottom: 10px;
}

main .text p{
  font-family: 'latoregular','san-serif';
  color: #315f52;
  line-height: 30px;
}

main .text p a{
  color: #315f52;
}

main .article img{
  float: left;
  margin-right: 20px;
}

/* footer內容設定 *************************************************/
footer{
  min-height: 144px;
  position: relative;
}

footer .info{
  position: absolute;
}

footer .info address{
  color: #99FA99;
  font-family: 'latoregular','san-serif';
  font-size: 26px;
  font-style: normal;
  margin-bottom: 5px;
  margin-top: 30px;
}

footer .info p{
  color: #B6D8CF;
  font-family: 'latoregular','san-serif';
  font-size: 12px;
}

footer .connect{
  position: absolute;
  right: 0px;
  top: 30px;
}

footer .connect img{
  display: inline-block;
  margin-left: 20px;
}